<div class="panel panel-info">
    <div class="panel-heading">
        <h2>
            Listing Users :-<%= User.count %>
        </h2>
    </div>
    <script>
        $(document).ready(function () {
            $('#users').DataTable();
        });
    </script>
    <table class="table table-striped" id="users">
        <thead>
            <tr>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to "New User", new_user_path %>
