<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_category.name %>
</p>

<%= link_to 'Edit', edit_question_category_path(@question_category) %> |
<%= link_to 'Back', question_categories_path %>
